$sm: 510px;
$xs: 370px;

.products-list {
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    max-width: 475px;

    @media screen and (max-width: $sm) {
        
    }
}
.product-list__product {
    width: calc(100%/3);
    padding: 0 0;
    box-sizing: border-box;
    transition: all .2s;
    position: relative;

    @media screen and (max-width: $sm) {
        width: calc(100%/2);
    }

    @media screen and (max-width: $xs) {
        width: 100%;
    }

    &:hover {
        z-index: 1;

        .btn--buy {
            background: #eb5c3e;

            &:hover {
                background: lighten( #eb5c3e, 15% );
            }
        }
        .product-list__product-content {
            box-shadow: 0 0 0px 3px #eb5c3e;
        }
        .rating {
            .rating__star {
                background: #fff url('../../images/star_active.png') center center no-repeat;
            }
        }

        
    }
}
.product-list__product--hover {
    .product-list__product-content {
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        height: auto;
        z-index: 1;
        .product-list__product-descrition {
            display: block;
        }
    }
}
.product-list__product-content {
    padding: 0 10px 10px 10px;
    background-color: #fff;
    transition: all .2s;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-list__product-photo {
    margin: 0;
    width: 100%;
    margin-bottom: 12px;

    img {
        display: block;
        margin: 0 auto;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }
}
.product-list__product-title {
    display: block;
    margin-bottom: 15px;
    font-size: 13px;
    min-height: 45px;

    @media screen and (max-width: $xs) {
        font-size: 15px;
        text-align: center;
    }

    a {
        text-decoration: none;
        color: #000;
        &:hover {
            text-decoration: underline;
        }
    }
}
.product-list__product-details {
    font-size: 0;

    .product-list__product-price,
    .product-list__product-buy {
        display: inline-block;
        width: 50%;
        font-size: 16px;
        vertical-align: middle;

        @media screen and (max-width: $xs) {
            width: 100%;
            text-align: center;
        }
    }
    .product-list__product-price {
        font-weight: 600;
        font-size: 0;
        color: #3a3a3a;

        &-prefix {
            font-size: 13px;
            font-weight: 400;
        }
        &-first {
            font-size: 18px;
        }
        &-second {
            font-size: 16px;
        }
    }
    .product-list__product-buy {
        text-align: right;

        @media screen and (max-width: $xs) {
            .btn {
                margin-top: 10px;
                width: 100%;
                padding: 15px 5px;
                font-size: 14px;
            }
        }
    }
}

.btn {
    padding: 10px 5px;
    border: none;
    transition: all .2s linear;
    font-size: 12px;

    &:hover {
        cursor: pointer;
    }

    &--buy {
        color: #fff;
        background-color: #3a3a3a;
    }
}
.product-list__product-rating {
    position: relative;
    text-align: center;

    &::after {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        top:50%;
        height: 1px;
        background: #f0f0f0;
        z-index: 0;
    }
}
.rating {
    padding: 0;
    list-style: none;
    font-size: 0;
    text-align: center;
    margin: 20px 0;
    display: inline-block;
    position: relative;
    z-index: 1;
    background: #fff;
    padding: 0 10px;

    .rating__star {
        display: inline-block;
        width:14px;
        height: 14px;
        background: #fff url('../../images/star.png') center center no-repeat;
    }
}
.product-list__product-descrition {
    display: none;
    font-size: 12px;
}